.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 320px) and (max-width: 767.98px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .container {
    width: 768px;
    padding: 0 16px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.social-contact__link, .adress__link {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.social-contact, .adress, .product-card__item-price, .product-card {
  list-style: none;
  padding: 0;
  margin: 0;
}

.product-card__title-price, .product-card__title--overlay, .product-card__title, .prodacts__title, .prodacts__text {
  text-transform: uppercase;
}

body {
  font-family: "Oswald", sans-serif;
  background-color: #2f303a;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.prodacts {
  padding: 60px 0;
}
.prodacts__text {
  font-weight: 500;
  text-align: center;
  color: #d41443;
}
@media screen and (max-width: 767.98px) {
  .prodacts__text {
    margin: 0 0 15px;
    font-size: 18px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .prodacts__text {
    margin: 0 0 18px;
    font-size: 26px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1200px) {
  .prodacts__text {
    margin: 0 0 16px;
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }
}
.prodacts__title {
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.04em;
  margin: 0;
  color: #d41443;
}
@media screen and (max-width: 767.98px) {
  .prodacts__title {
    font-size: 34px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .prodacts__title {
    margin-bottom: 20px;
    font-size: 48px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1200px) {
  .prodacts__title {
    margin-bottom: 20px;
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }
}

@media screen and (min-width: 768px) {
  .product-card {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.product-card__kind {
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.04em;
  margin: 0px;
  color: #ffffff;
}
@media screen and (max-width: 767.98px) {
  .product-card__kind {
    font-size: 16px;
    line-height: 152%;
    padding-bottom: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .product-card__kind {
    font-size: 16px;
    line-height: 176%;
  }
}
@media screen and (min-width: 1200px) {
  .product-card__kind {
    font-size: 18px;
    line-height: 176%;
  }
}
.product-card__text {
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}
@media screen and (max-width: 767.98px) {
  .product-card__text {
    font-size: 14px;
    line-height: 152%;
    padding-bottom: 45px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .product-card__text {
    font-size: 14px;
    line-height: 176%;
  }
}
@media screen and (min-width: 1200px) {
  .product-card__text {
    font-size: 16px;
    line-height: 176%;
  }
}
.product-card__item-price {
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translate(-50%);
  width: 70%;
  font-weight: 200;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}
@media screen and (max-width: 767.98px) {
  .product-card__item-price {
    font-size: 11px;
    line-height: 152%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .product-card__item-price {
    font-size: 12px;
    line-height: 162%;
    bottom: 23px;
  }
}
@media screen and (min-width: 1200px) {
  .product-card__item-price {
    bottom: 15px;
    font-size: 12.6px;
    line-height: 162%;
  }
}

.product-card__thumb {
  position: absolute;
  overflow: hidden;
  bottom: 85px;
  left: 0;
  width: 100%;
  border-radius: 24px;
}
@media screen and (max-width: 767.98px) {
  .product-card__thumb {
    height: calc(100% - 205px);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .product-card__thumb {
    height: calc(100% - 165px);
  }
}
@media screen and (min-width: 1200px) {
  .product-card__thumb {
    bottom: 105px;
    height: calc(100% - 220px);
  }
}

.product-card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  padding: 20px;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.product-card__overlay--cream {
  background-color: #666666;
}
.product-card__overlay--coffee {
  background-color: #40405f;
}
.product-card__overlay--milkshakes {
  background-color: #766454;
}
.product-card__item:hover .product-card__overlay, .product-card__item:focus .product-card__overlay {
  transform: translateY(0);
  opacity: 0.9;
}

.product-card__item {
  position: relative;
  box-sizing: border-box;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
}
@media screen and (max-width: 767.98px) {
  .product-card__item {
    width: 100%;
    max-width: 280px;
    min-height: 489px;
    padding: 120px 15px 40px;
    margin: 148px auto 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .product-card__item {
    width: 224px;
    height: 473px;
    padding: 80px 17px 40px;
    margin-top: 138px;
  }
  .product-card__item:not(:last-child) {
    margin-right: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .product-card__item {
    width: 368px;
    height: 535px;
    padding: 115px 24px 60px;
    margin-top: 261px;
  }
  .product-card__item:not(:last-child) {
    margin-right: 32px;
  }
}
.product-card__item:hover, .product-card__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.product-card__item::before {
  content: "";
  background-size: cover;
  background-position: center;
  display: inline-blok;
  position: absolute;
  top: -140px;
  left: 0;
  width: 100%;
  height: 280px;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .product-card__item::before {
    top: -138px;
    height: 224px;
  }
}
@media screen and (min-width: 1200px) {
  .product-card__item::before {
    top: -261px;
    height: 394px;
  }
}

.product-card__item--cream {
  background: #858585;
  border-radius: 24px;
}
.product-card__item--cream::before {
  content: "";
}
@media screen and (max-width: 767.98px) {
  .product-card__item--cream::before {
    background-image: url("../images/ice-cream@320_1x.png");
  }
}
@media screen and (max-width: 767.98px) and (min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (min-resolution: 192dpi), screen and (max-width: 767.98px) and (min-resolution: 2dppx) {
  .product-card__item--cream::before {
    background-image: url("../images/ice-cream@320_2x.png");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .product-card__item--cream::before {
    background-image: url("../images/ice-cream@768_1x.png");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 2dppx) {
  .product-card__item--cream::before {
    background-image: url("../images/ice-cream@768_2x.png");
  }
}
@media screen and (min-width: 1200px) {
  .product-card__item--cream::before {
    background-image: url("../images/ice-cream@1200_1x.png");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .product-card__item--cream::before {
    background-image: url("../images/ice-cream@1200_2x.png");
  }
}

.product-card__item--coffee {
  background: #585883;
  border-radius: 24px;
}
.product-card__item--coffee::before {
  content: "";
}
@media screen and (max-width: 767.98px) {
  .product-card__item--coffee::before {
    background-image: url("../images/coffee@320_1x.png");
  }
}
@media screen and (max-width: 767.98px) and (min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (min-resolution: 192dpi), screen and (max-width: 767.98px) and (min-resolution: 2dppx) {
  .product-card__item--coffee::before {
    background-image: url("../images/coffee@320_2x.png");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .product-card__item--coffee::before {
    background-image: url("../images/coffee@768_1x.png");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 2dppx) {
  .product-card__item--coffee::before {
    background-image: url("../images/coffee@768_2x.png");
  }
}
@media screen and (min-width: 1200px) {
  .product-card__item--coffee::before {
    background-image: url("../images/coffee@1200_1x.png");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .product-card__item--coffee::before {
    background-image: url("../images/coffee@1200_2x.png");
  }
}

.product-card__item--milkshakes {
  background: #9c9086;
  border-radius: 24px;
}
.product-card__item--milkshakes::before {
  content: "";
}
@media screen and (max-width: 767.98px) {
  .product-card__item--milkshakes::before {
    background-image: url("../images/milkshakes@320_1x.png");
  }
}
@media screen and (max-width: 767.98px) and (min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (min-resolution: 192dpi), screen and (max-width: 767.98px) and (min-resolution: 2dppx) {
  .product-card__item--milkshakes::before {
    background-image: url("../images/milkshakes@320_2x.png");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .product-card__item--milkshakes::before {
    background-image: url("../images/milkshakes@768_1x.png");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 2dppx) {
  .product-card__item--milkshakes::before {
    background-image: url("../images/milkshakes@768_2x.png");
  }
}
@media screen and (min-width: 1200px) {
  .product-card__item--milkshakes::before {
    background-image: url("../images/milkshakes@1200_1x.png");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .product-card__item--milkshakes::before {
    background-image: url("../images/milkshakes@1200_2x.png");
  }
}

.product-card__title {
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin: 0px 0px 17px;
  padding-bottom: 23px;
}
@media screen and (min-width: 1200px) {
  .product-card__title {
    font-size: 28px;
    line-height: 1.15;
  }
}
.product-card__title::after {
  content: "";
  display: inline-blok;
  position: absolute;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  width: 26px;
  height: 6px;
  background-image: url("../images/three_points_1x.png");
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .product-card__title::after {
    background-image: url("../images/three_points_2x.png");
  }
}
.product-card__title--overlay {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  color: #d41443;
  margin: 0px 0px 17px;
  padding-bottom: 23px;
}
@media screen and (min-width: 1200px) {
  .product-card__title--overlay {
    font-size: 28px;
    line-height: 1.15;
  }
}
.product-card__title-price {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin: 0px 0px 17px;
  padding-bottom: 23px;
}
@media screen and (min-width: 1200px) {
  .product-card__title-price {
    font-size: 16px;
    line-height: 1.15;
  }
}

.button-product {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 0;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  margin: 0;
  padding: 0;
  transition: color 250ms linear, background-color 250ms linear;
}
@media screen and (min-width: 1200px) {
  .button-product {
    bottom: 60px;
  }
}
.button-product--cream:hover, .button-product--cream:focus {
  background-color: #666666;
  color: #ffffff;
}
.button-product--coffee:hover, .button-product--coffee:focus {
  background-color: #40405f;
  color: #ffffff;
}
.button-product--milkshakes:hover, .button-product--milkshakes:focus {
  background-color: #766454;
  color: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(129, 82, 93, 0.2);
  opacity: 1;
  z-index: 4;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.no-scroll {
  overflow: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 10px;
  height: 90vh;
  overflow: auto;
  width: calc(100% - 40px);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 320px) {
  .modal {
    width: 300px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
    overflow-y: auto;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.button-product__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: currentColor;
}

.backdrop .modal--card-cream {
  background: #858585;
  position: relative;
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: top;
  border-radius: 24px;
}
@media screen and (max-width: 767.98px) {
  .backdrop .modal--card-cream {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.2), rgba(47, 48, 58, 0.2)), url("../images/ice-cream@320_1x.png");
  }
}
@media screen and (max-width: 767.98px) and (min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (min-resolution: 192dpi), screen and (max-width: 767.98px) and (min-resolution: 2dppx) {
  .backdrop .modal--card-cream {
    background-image: url("../images/ice-cream@320_2x.png");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .backdrop .modal--card-cream {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.2), rgba(47, 48, 58, 0.2)), url("../images/ice-cream@768_1x.png");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 2dppx) {
  .backdrop .modal--card-cream {
    background-image: url("../images/ice-cream@768_2x.png");
  }
}
@media screen and (min-width: 1200px) {
  .backdrop .modal--card-cream {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.2), rgba(47, 48, 58, 0.2)), url("../images/ice-cream@1200_1x.png");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .backdrop .modal--card-cream {
    background-image: url("../images/ice-cream@1200_2x.png");
  }
}

.backdrop .modal--card-coffee {
  background: #585883;
  position: relative;
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: top;
  border-radius: 24px;
}
@media screen and (max-width: 767.98px) {
  .backdrop .modal--card-coffee {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.2), rgba(47, 48, 58, 0.2)), url("../images/coffee@320_1x.png");
  }
}
@media screen and (max-width: 767.98px) and (min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (min-resolution: 192dpi), screen and (max-width: 767.98px) and (min-resolution: 2dppx) {
  .backdrop .modal--card-coffee {
    background-image: url("../images/coffee@320_2x.png");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .backdrop .modal--card-coffee {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.2), rgba(47, 48, 58, 0.2)), url("../images/coffee@768_1x.png");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 2dppx) {
  .backdrop .modal--card-coffee {
    background-image: url("../images/coffee@768_2x.png");
  }
}
@media screen and (min-width: 1200px) {
  .backdrop .modal--card-coffee {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.2), rgba(47, 48, 58, 0.2)), url("../images/coffee@1200_1x.png");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .backdrop .modal--card-coffee {
    background-image: url("../images/coffee@1200_2x.png");
  }
}

.backdrop .modal--card-milkshakes {
  background: #9c9086;
  position: relative;
  background-repeat: no-repeat;
  background-size: 40%, 40%;
  background-position: top;
  border-radius: 24px;
}
@media screen and (max-width: 767.98px) {
  .backdrop .modal--card-milkshakes {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.2), rgba(47, 48, 58, 0.2)), url("../images/milkshakes@320_1x.png");
  }
}
@media screen and (max-width: 767.98px) and (min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (min-resolution: 192dpi), screen and (max-width: 767.98px) and (min-resolution: 2dppx) {
  .backdrop .modal--card-milkshakes {
    background-image: url("../images/milkshakes@320_2x.png");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .backdrop .modal--card-milkshakes {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.2), rgba(47, 48, 58, 0.2)), url("../images/milkshakes@768_1x.png");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 2dppx) {
  .backdrop .modal--card-milkshakes {
    background-image: url("../images/milkshakes@768_2x.png");
  }
}
@media screen and (min-width: 1200px) {
  .backdrop .modal--card-milkshakes {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.2), rgba(47, 48, 58, 0.2)), url("../images/milkshakes@1200_1x.png");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .backdrop .modal--card-milkshakes {
    background-image: url("../images/milkshakes@1200_2x.png");
  }
}

.backdrop .modal__close--prodact {
  cursor: pointer;
  display: flex;
  width: 25px;
  height: 25px;
  margin-left: auto;
  margin-bottom: 8px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #ffffff;
  background: transparent;
  outline: transparent;
  stroke: #ffffff;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop .modal__close--prodact-cream:hover, .backdrop .modal__close--prodact-cream:focus {
  border-color: #666666;
  stroke: #666666;
}
.backdrop .modal__close--prodact-coffee:hover, .backdrop .modal__close--prodact-coffee:focus {
  border-color: #40405f;
  stroke: #40405f;
}
.backdrop .modal__close--prodact-milkshakes:hover, .backdrop .modal__close--prodact-milkshakes:focus {
  border-color: #766454;
  stroke: #766454;
}

.backdrop.backdrop--cream {
  background-color: #666666;
}

.backdrop.backdrop--coffee {
  background-color: #40405f;
}

.backdrop.backdrop--milkshakes {
  background-color: #766454;
}

.modal__icon {
  z-index: 4;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.reviews {
  padding-bottom: 60px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .reviews {
    max-width: 620px;
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews {
    max-width: 968px;
    padding-bottom: 120px;
  }
}

.slide__photo {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  max-width: 85px;
}

.slide__text-box {
  position: relative;
  padding: 30px;
  border-radius: 30px;
  margin-bottom: 16px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .slide__text-box {
    padding: 20px 20px;
  }
}
@media screen and (min-width: 1200px) {
  .slide__text-box {
    padding: 32px 52px;
  }
}

.slide__text {
  position: relative;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  text-align: center;
  color: #858585;
  background-color: #ffffff;
  background-image: repeating-linear-gradient(180deg, transparent, transparent 30px, #e1e1e1 0, #e1e1e1 31px);
}
@media screen and (min-width: 768px) {
  .slide__text {
    font-size: 14px;
    line-height: 2.16;
    letter-spacing: 0.04em;
    background-image: repeating-linear-gradient(180deg, transparent, transparent 27px, #e1e1e1 0, #e1e1e1 29px);
  }
}
@media screen and (min-width: 1200px) {
  .slide__text {
    font-size: 16px;
    line-height: 186%;
  }
}

.slide__text::before {
  content: "";
  position: absolute;
  display: block;
  width: 54px;
  height: 40px;
  z-index: -9;
  background-image: url(../images/reviews/symbol.png);
}

.slide__name {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  color: #d41443;
}
@media screen and (min-width: 768px) {
  .slide__name {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .slide__name {
    font-size: 20px;
    line-height: 186%;
  }
}

.slide__name::before {
  content: "";
  display: block;
  background-size: 32px 4px;
  margin: 0 auto 16px;
  width: 32px;
  height: 4px;
  background-image: url(../images/reviews/circle.svg);
}

.slick-track {
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.slick-dots {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slick-dots li:not(:last-child) {
  margin-right: 10px;
}
@media screen and (min-width: 768px) {
  .slick-dots li:not(:last-child) {
    margin-right: 18px;
  }
}
.slick-dots button {
  cursor: pointer;
  font-size: 0;
  width: 12px;
  height: 12px;
  background-color: #d9d9d9;
  border-radius: 50%;
  border: none;
}

.slick-dots li.slick-active button {
  cursor: pointer;
  background-color: transparent;
  border-radius: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/reviews/home.svg");
}

footer {
  background-color: #2f303a;
}

.topline_footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}
.footer_text-container {
  width: 234px;
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer_text-container {
    width: 340px;
    padding-top: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .footer_text-container {
    width: 478px;
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

.footer_text {
  margin-top: 0px;
  margin-bottom: 16px;
  font-family: Titan One;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1666666667;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .footer_text {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.1538461538;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .footer_text {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.1333333333;
    letter-spacing: 0.04em;
  }
}

.footer_main-text {
  font-family: Titan One;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.1470588235;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  margin-top: 0px;
  margin-bottom: 0px;
}
@media screen and (min-width: 768px) {
  .footer_main-text {
    font-size: 48px;
    line-height: 1.1458333333;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) {
  .footer_main-text {
    font-size: 58px;
    line-height: 1.1379310345;
    letter-spacing: 0.06em;
  }
}

.footer_social-container {
  padding-bottom: 30px;
  text-align: center;
  padding-top: 30px;
}
@media screen and (min-width: 768px) {
  .footer_social-container {
    padding-top: 40px;
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .footer_social-container {
    padding-top: 60px;
    padding-bottom: 30px;
  }
}

.footer_watermark-container {
  margin: 0 auto;
  width: 280px;
}

.line {
  margin-bottom: 16px;
  width: 100%;
  border-top: 1px solid #e1e1e1;
}
@media screen and (min-width: 768px) {
  .line {
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .line {
    margin-bottom: 7px;
  }
}

.footer_watermark-text {
  display: flex;
  flex-direction: column;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  text-align: center;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .footer_watermark-text {
    line-height: 186%;
    justify-content: space-evenly;
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .footer_watermark-text {
    line-height: 186%;
  }
}

.adress__item:not(:last-child) {
  margin-bottom: 9px;
}

.adress__link {
  color: #ffffff;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress__link:hover, .adress__link:focus {
  color: #d41443;
}

.adress__link--post {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress__link--post:hover, .adress__link--post:focus {
  color: #d41443;
}
@media screen and (min-width: 768px) {
  .adress__link--post {
    font-size: 18px;
    line-height: 1.7;
  }
}

.contact-box {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 767px) {
  .contact-box {
    margin-left: auto;
    margin-right: auto;
  }
}
.contact-box__text {
  font-family: Titan One;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-style: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin: 0 0 20px;
}
@media screen and (min-width: 768px) {
  .contact-box__text {
    font-size: 18px;
  }
}

.social-contact {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-contact__icon {
  fill: currentColor;
}
.social-contact__item:not(:last-child) {
  margin-right: 10px;
}

.social-contact__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-contact__link:hover, .social-contact__link:focus {
  color: #ffffff;
  background-color: #d41443;
}

.social-contact__link--footer {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-contact__link--footer:hover, .social-contact__link--footer:focus {
  background-color: #d41443;
}/*# sourceMappingURL=index.css.map */