.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 320px) and (max-width: 767.98px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .container {
    width: 768px;
    padding: 0 16px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.social-contact__link, .adress__link, .portfolio__link, .skill__link, .social-menu__link, .menu-nav, .site-nav__link, .contact__link {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.social-contact, .adress, .portfolio-nav__list, .product-card__item-price, .product-card, .skill, .social-menu, .site-nav, .contact {
  list-style: none;
  padding: 0;
  margin: 0;
}

.product-card__title-price, .product-card__title--overlay, .product-card__title, .prodacts__title, .prodacts__text {
  text-transform: uppercase;
}

.portfolio__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.portfolio__card {
  display: block;
  max-width: 100%;
  height: auto;
}

.portfolio__title {
  color: #212121;
  margin-top: 0;
  margin-bottom: 10px;
}

body {
  font-family: "Oswald", sans-serif;
  text-shadow: 1px 1px 1px black;
  background-color: #2f303a;
}

.container.header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header_text {
  margin-top: 0px;
  margin-bottom: 8px;
  font-family: Titan One;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.1666666667;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .header_text {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.1333333333;
    letter-spacing: 0.04em;
  }
}

.header_main-text {
  font-family: Titan One;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.1470588235;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  margin-top: 0px;
  margin-bottom: 0px;
}
@media screen and (min-width: 768px) {
  .header_main-text {
    font-size: 34px;
    line-height: 1.1379310345;
    letter-spacing: 0.06em;
  }
}

.line-header {
  margin-top: 20px;
  width: 100%;
  border-top: 2px solid #e1e1e1;
}

.logo-iam {
  margin-left: 10px;
  width: 50px;
  border-radius: 50%;
  box-shadow: 3px 3px 12px rgba(212, 20, 68, 0.5137254902);
  transition: transform 0.2s;
}
.logo-iam:hover, .logo-iam:focus {
  transform: scale(1.3);
}
@media screen and (min-width: 768px) {
  .logo-iam {
    margin-left: 15px;
    width: 70px;
  }
}

.logo-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0px;
}

@media screen and (max-width: 767.99px) {
  .contact {
    margin-bottom: 64px;
    display: flex;
    flex-direction: column-reverse;
  }
  .contact__item + .contact__item {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .contact {
    margin-left: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 150px;
  }
  .contact__item + .contact__item {
    margin-left: 30px;
  }
}

.contact__icon {
  display: inline-block;
  margin-right: 10px;
  fill: currentColor;
}
@media screen and (max-width: 767.99px) {
  .contact__icon {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  .contact__icon {
    margin-right: 8px;
  }
}
.contact__icon--tel {
  width: 10px;
  height: 14px;
}
.contact__icon--post {
  width: 14px;
  height: 10px;
}

.contact__link {
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 12px;
    line-height: 1.2;
  }
  .contact__link--post {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.17;
  }
}
.contact__link:hover, .contact__link:focus {
  color: #d41443;
}
@media screen and (max-width: 767.99px) {
  .contact__link--tel {
    font-size: 28px;
    line-height: 1.17;
  }
  .contact__link--post {
    font-size: 28px;
    line-height: 1.17;
  }
}

@media screen and (max-width: 767.99px) {
  .nav-topline__smart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
}
@media screen and (min-width: 768px) {
  .nav-topline {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 767.99px) {
  .site-nav {
    margin-bottom: 302px;
  }
  .site-nav__item:not(:first-child) {
    margin-top: 32px;
  }
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
  }
  .site-nav__item:not(:first-child) {
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav {
    margin-left: 150px;
  }
  .site-nav__item:not(:first-child) {
    margin-left: 50px;
  }
}

.site-nav__link {
  display: block;
  color: #ffffff;
  font-weight: 500;
  text-align: left;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767.99px) {
  .site-nav__link {
    font-size: 40px;
    line-height: 1.18;
  }
}
@media screen and (min-width: 768px) {
  .site-nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.17;
  }
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #d41443;
}

.menu-nav {
  transition: transform 0.2s;
  display: block;
  color: #ffffff;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  letter-spacing: 0.02em;
}
.menu-nav:hover, .menu-nav:focus {
  transform: scale(1.1);
}

.site-nav__link--current {
  position: relative;
}
@media screen and (min-width: 768px) {
  .site-nav__link--current::after {
    content: "";
    display: inline-blok;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 4px 4px 12px rgba(212, 20, 68, 0.5137254902);
  }
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}
@media (max-width: 767.99px) {
  .menu {
    display: none;
  }
}

.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  color: #ffffff;
  outline: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.button__icon-menu,
.button__icon-cross {
  fill: currentColor;
}

.menu-toggle:hover,
.menu-toggle:focus {
  color: #d41443;
  transform: scale(1.2);
}

.menu-container {
  background: #2f303a;
  padding: 48px 40px;
  text-align: center;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.menu-container.is-open {
  transform: translateX(0);
  pointer-events: initial;
}
.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
}

.social-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.social-menu__item:not(:last-child) {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid #ffffff;
}

.social-menu__link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  transition: transform 0.2s;
}
.social-menu__link:hover, .social-menu__link:focus {
  transform: scale(1.1);
}

.hero {
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 767px) {
  .hero {
    max-width: 480px;
    height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/imgbg-480@1x.jpg");
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/imgbg-480@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/imgbg-768@1x.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/imgbg-768@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/imgbg-1200@1x.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/imgbg-1200@2x.jpg");
  }
}
.hero__title {
  text-transform: uppercase;
  margin: 0 auto 30px;
  color: #ffffff;
  text-align: center;
  font-weight: 900;
  letter-spacing: 0.06em;
}
@media screen and (max-width: 1199px) {
  .hero__title {
    max-width: 396px;
    font-size: 26px;
    line-height: 1.6;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.4;
  }
}

.hero__button {
  color: #ffffff;
  background-color: #d41443;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover, .hero__button:focus {
  background-color: #2f303a;
}

@media screen and (max-width: 1199.98px) {
  .impotent {
    padding-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .impotent {
    padding-top: 90px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .skill {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .skill {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.skill__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  margin-top: 30px;
  height: 120px;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .skill__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .skill__item {
    width: 270px;
  }
  .skill__item:not(:last-child) {
    margin-right: 30px;
  }
}
@media screen and (max-width: 767.98px) {
  .skill__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.skill__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-transform: uppercase;
}
@media screen and (max-width: 767.98px) {
  .skill__title {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .skill__title {
    font-size: 18px;
    line-height: 1.17;
  }
}
.skill__title.skill-info {
  font-weight: 500;
  font-size: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .skill__title.skill-info {
    font-size: 15px;
  }
}

.skill__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.2s;
}
.skill__link:hover, .skill__link:focus {
  box-shadow: 0px 1px 1px #d41443, 0px 4px 4px #d41443, 1px 4px 6px #d41443;
  transform: scale(1.1);
}

.prodacts {
  padding: 90px 0;
}
@media screen and (max-width: 1199px) {
  .prodacts {
    padding: 60px 0;
  }
}
.prodacts__text {
  text-shadow: 1px 1px 1px black;
  font-weight: 500;
  text-align: center;
  color: #d41443;
}
@media screen and (max-width: 767.98px) {
  .prodacts__text {
    margin: 0 0 10px;
    font-size: 18px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .prodacts__text {
    margin: 0 0 15px;
    font-size: 26px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1200px) {
  .prodacts__text {
    margin: 0 0 20px;
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }
}
.prodacts__text.hight {
  margin: 0 0 40px;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .prodacts__text.hight {
    margin: 0 0 45px;
  }
}
@media screen and (min-width: 1200px) {
  .prodacts__text.hight {
    margin: 0 0 50px;
  }
}
.prodacts__title {
  text-shadow: 1px 1px 1px black;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.04em;
  margin: 0;
  padding-bottom: 40px;
  color: #d41443;
}
@media screen and (max-width: 767.98px) {
  .prodacts__title {
    font-size: 24px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .prodacts__title {
    padding-bottom: 50px;
    font-size: 38px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1200px) {
  .prodacts__title {
    padding-bottom: 50px;
    font-size: 48px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }
}

@media screen and (min-width: 768px) {
  .product-card {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.product-card__kind {
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.04em;
  margin: 0px;
  color: #ffffff;
}
@media screen and (max-width: 767.98px) {
  .product-card__kind {
    font-size: 16px;
    line-height: 152%;
    padding-bottom: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .product-card__kind {
    font-size: 16px;
    line-height: 176%;
  }
}
@media screen and (min-width: 1200px) {
  .product-card__kind {
    font-size: 18px;
    line-height: 176%;
  }
}
.product-card__text {
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}
@media screen and (max-width: 767.98px) {
  .product-card__text {
    font-size: 14px;
    line-height: 152%;
    padding-bottom: 45px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .product-card__text {
    font-size: 14px;
    line-height: 176%;
  }
}
@media screen and (min-width: 1200px) {
  .product-card__text {
    font-size: 16px;
    line-height: 176%;
  }
}
.product-card__item-price {
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translate(-50%);
  width: 70%;
  font-weight: 200;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}
@media screen and (max-width: 767.98px) {
  .product-card__item-price {
    font-size: 11px;
    line-height: 152%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .product-card__item-price {
    font-size: 12px;
    line-height: 162%;
    bottom: 23px;
  }
}
@media screen and (min-width: 1200px) {
  .product-card__item-price {
    bottom: 15px;
    font-size: 12.6px;
    line-height: 162%;
  }
}

.product-card__thumb {
  position: absolute;
  overflow: hidden;
  bottom: 85px;
  left: 0;
  width: 100%;
  border-radius: 24px;
}
@media screen and (max-width: 767.98px) {
  .product-card__thumb {
    height: calc(100% - 205px);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .product-card__thumb {
    height: calc(100% - 165px);
  }
}
@media screen and (min-width: 1200px) {
  .product-card__thumb {
    bottom: 105px;
    height: calc(100% - 220px);
  }
}

.product-card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  padding: 20px;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.product-card__overlay--cream {
  background-color: #666666;
}
.product-card__overlay--coffee {
  background-color: #40405f;
}
.product-card__overlay--milkshakes {
  background-color: #766454;
}
.product-card__item:hover .product-card__overlay, .product-card__item:focus .product-card__overlay {
  transform: translateY(0);
  opacity: 0.9;
}

.product-card__item {
  position: relative;
  box-sizing: border-box;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
}
@media screen and (max-width: 767.98px) {
  .product-card__item {
    width: 100%;
    max-width: 280px;
    min-height: 489px;
    padding: 120px 15px 40px;
    margin: 148px auto 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .product-card__item {
    width: 224px;
    height: 473px;
    padding: 80px 17px 40px;
    margin-top: 138px;
  }
  .product-card__item:not(:last-child) {
    margin-right: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .product-card__item {
    width: 368px;
    height: 535px;
    padding: 115px 24px 60px;
    margin-top: 261px;
  }
  .product-card__item:not(:last-child) {
    margin-right: 32px;
  }
}
.product-card__item:hover, .product-card__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.product-card__item::before {
  content: "";
  background-size: cover;
  background-position: center;
  display: inline-blok;
  position: absolute;
  top: -140px;
  left: 0;
  width: 100%;
  height: 280px;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .product-card__item::before {
    top: -138px;
    height: 224px;
  }
}
@media screen and (min-width: 1200px) {
  .product-card__item::before {
    top: -261px;
    height: 394px;
  }
}

.product-card__item--cream {
  background: #858585;
  border-radius: 24px;
}
.product-card__item--cream::before {
  content: "";
}
@media screen and (max-width: 767.98px) {
  .product-card__item--cream::before {
    background-image: url("../images/ice-cream@320_1x.png");
  }
}
@media screen and (max-width: 767.98px) and (min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (min-resolution: 192dpi), screen and (max-width: 767.98px) and (min-resolution: 2dppx) {
  .product-card__item--cream::before {
    background-image: url("../images/ice-cream@320_2x.png");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .product-card__item--cream::before {
    background-image: url("../images/ice-cream@768_1x.png");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 2dppx) {
  .product-card__item--cream::before {
    background-image: url("../images/ice-cream@768_2x.png");
  }
}
@media screen and (min-width: 1200px) {
  .product-card__item--cream::before {
    background-image: url("../images/ice-cream@1200_1x.png");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .product-card__item--cream::before {
    background-image: url("../images/ice-cream@1200_2x.png");
  }
}

.product-card__item--coffee {
  background: #585883;
  border-radius: 24px;
}
.product-card__item--coffee::before {
  content: "";
}
@media screen and (max-width: 767.98px) {
  .product-card__item--coffee::before {
    background-image: url("../images/coffee@320_1x.png");
  }
}
@media screen and (max-width: 767.98px) and (min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (min-resolution: 192dpi), screen and (max-width: 767.98px) and (min-resolution: 2dppx) {
  .product-card__item--coffee::before {
    background-image: url("../images/coffee@320_2x.png");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .product-card__item--coffee::before {
    background-image: url("../images/coffee@768_1x.png");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 2dppx) {
  .product-card__item--coffee::before {
    background-image: url("../images/coffee@768_2x.png");
  }
}
@media screen and (min-width: 1200px) {
  .product-card__item--coffee::before {
    background-image: url("../images/coffee@1200_1x.png");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .product-card__item--coffee::before {
    background-image: url("../images/coffee@1200_2x.png");
  }
}

.product-card__item--milkshakes {
  background: #9c9086;
  border-radius: 24px;
}
.product-card__item--milkshakes::before {
  content: "";
}
@media screen and (max-width: 767.98px) {
  .product-card__item--milkshakes::before {
    background-image: url("../images/milkshakes@320_1x.png");
  }
}
@media screen and (max-width: 767.98px) and (min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (min-resolution: 192dpi), screen and (max-width: 767.98px) and (min-resolution: 2dppx) {
  .product-card__item--milkshakes::before {
    background-image: url("../images/milkshakes@320_2x.png");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .product-card__item--milkshakes::before {
    background-image: url("../images/milkshakes@768_1x.png");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 2dppx) {
  .product-card__item--milkshakes::before {
    background-image: url("../images/milkshakes@768_2x.png");
  }
}
@media screen and (min-width: 1200px) {
  .product-card__item--milkshakes::before {
    background-image: url("../images/milkshakes@1200_1x.png");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .product-card__item--milkshakes::before {
    background-image: url("../images/milkshakes@1200_2x.png");
  }
}

.product-card__title {
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin: 0px 0px 17px;
  padding-bottom: 23px;
}
@media screen and (min-width: 1200px) {
  .product-card__title {
    font-size: 28px;
    line-height: 1.15;
  }
}
.product-card__title::after {
  content: "";
  display: inline-blok;
  position: absolute;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  width: 26px;
  height: 6px;
  background-image: url("../images/three_points_1x.png");
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .product-card__title::after {
    background-image: url("../images/three_points_2x.png");
  }
}
.product-card__title--overlay {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin: 0px 0px 17px;
  padding-bottom: 23px;
}
@media screen and (min-width: 1200px) {
  .product-card__title--overlay {
    font-size: 28px;
    line-height: 1.15;
  }
}
.product-card__title-price {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin: 0px 0px 17px;
  padding-bottom: 23px;
}
@media screen and (min-width: 1200px) {
  .product-card__title-price {
    font-size: 16px;
    line-height: 1.15;
  }
}

.button-product {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 0;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  margin: 0;
  padding: 0;
  transition: color 250ms linear, background-color 250ms linear;
}
@media screen and (min-width: 1200px) {
  .button-product {
    bottom: 60px;
  }
}
.button-product--cream:hover, .button-product--cream:focus {
  background-color: #666666;
  color: #ffffff;
}
.button-product--coffee:hover, .button-product--coffee:focus {
  background-color: #40405f;
  color: #ffffff;
}
.button-product--milkshakes:hover, .button-product--milkshakes:focus {
  background-color: #766454;
  color: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(129, 82, 93, 0.2);
  opacity: 1;
  z-index: 4;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.no-scroll {
  overflow: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 10px;
  height: 90vh;
  overflow: auto;
  width: calc(100% - 40px);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 320px) {
  .modal {
    width: 300px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
    overflow-y: auto;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.button-product__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: currentColor;
}

.backdrop .modal--card-cream {
  background: #858585;
  position: relative;
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: top;
  border-radius: 24px;
}
@media screen and (max-width: 767.98px) {
  .backdrop .modal--card-cream {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.2), rgba(47, 48, 58, 0.2)), url("../images/ice-cream@320_1x.png");
  }
}
@media screen and (max-width: 767.98px) and (min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (min-resolution: 192dpi), screen and (max-width: 767.98px) and (min-resolution: 2dppx) {
  .backdrop .modal--card-cream {
    background-image: url("../images/ice-cream@320_2x.png");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .backdrop .modal--card-cream {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.2), rgba(47, 48, 58, 0.2)), url("../images/ice-cream@768_1x.png");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 2dppx) {
  .backdrop .modal--card-cream {
    background-image: url("../images/ice-cream@768_2x.png");
  }
}
@media screen and (min-width: 1200px) {
  .backdrop .modal--card-cream {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.2), rgba(47, 48, 58, 0.2)), url("../images/ice-cream@1200_1x.png");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .backdrop .modal--card-cream {
    background-image: url("../images/ice-cream@1200_2x.png");
  }
}

.backdrop .modal--card-coffee {
  background: #585883;
  position: relative;
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: top;
  border-radius: 24px;
}
@media screen and (max-width: 767.98px) {
  .backdrop .modal--card-coffee {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.2), rgba(47, 48, 58, 0.2)), url("../images/coffee@320_1x.png");
  }
}
@media screen and (max-width: 767.98px) and (min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (min-resolution: 192dpi), screen and (max-width: 767.98px) and (min-resolution: 2dppx) {
  .backdrop .modal--card-coffee {
    background-image: url("../images/coffee@320_2x.png");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .backdrop .modal--card-coffee {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.2), rgba(47, 48, 58, 0.2)), url("../images/coffee@768_1x.png");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 2dppx) {
  .backdrop .modal--card-coffee {
    background-image: url("../images/coffee@768_2x.png");
  }
}
@media screen and (min-width: 1200px) {
  .backdrop .modal--card-coffee {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.2), rgba(47, 48, 58, 0.2)), url("../images/coffee@1200_1x.png");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .backdrop .modal--card-coffee {
    background-image: url("../images/coffee@1200_2x.png");
  }
}

.backdrop .modal--card-milkshakes {
  background: #9c9086;
  position: relative;
  background-repeat: no-repeat;
  background-size: 40%, 40%;
  background-position: top;
  border-radius: 24px;
}
@media screen and (max-width: 767.98px) {
  .backdrop .modal--card-milkshakes {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.2), rgba(47, 48, 58, 0.2)), url("../images/milkshakes@320_1x.png");
  }
}
@media screen and (max-width: 767.98px) and (min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (min-resolution: 192dpi), screen and (max-width: 767.98px) and (min-resolution: 2dppx) {
  .backdrop .modal--card-milkshakes {
    background-image: url("../images/milkshakes@320_2x.png");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .backdrop .modal--card-milkshakes {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.2), rgba(47, 48, 58, 0.2)), url("../images/milkshakes@768_1x.png");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 2dppx) {
  .backdrop .modal--card-milkshakes {
    background-image: url("../images/milkshakes@768_2x.png");
  }
}
@media screen and (min-width: 1200px) {
  .backdrop .modal--card-milkshakes {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.2), rgba(47, 48, 58, 0.2)), url("../images/milkshakes@1200_1x.png");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .backdrop .modal--card-milkshakes {
    background-image: url("../images/milkshakes@1200_2x.png");
  }
}

.backdrop .modal__close--prodact {
  cursor: pointer;
  display: flex;
  width: 25px;
  height: 25px;
  margin-left: auto;
  margin-bottom: 8px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #ffffff;
  background: transparent;
  outline: transparent;
  stroke: #ffffff;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop .modal__close--prodact-cream:hover, .backdrop .modal__close--prodact-cream:focus {
  border-color: #666666;
  stroke: #666666;
}
.backdrop .modal__close--prodact-coffee:hover, .backdrop .modal__close--prodact-coffee:focus {
  border-color: #40405f;
  stroke: #40405f;
}
.backdrop .modal__close--prodact-milkshakes:hover, .backdrop .modal__close--prodact-milkshakes:focus {
  border-color: #766454;
  stroke: #766454;
}

.backdrop.backdrop--cream {
  background-color: #666666;
}

.backdrop.backdrop--coffee {
  background-color: #40405f;
}

.backdrop.backdrop--milkshakes {
  background-color: #766454;
}

.modal__icon {
  z-index: 4;
}

@media screen and (max-width: 1199px) {
  .portfolio-nav {
    padding-bottom: 60px;
    padding-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-nav {
    padding-bottom: 90px;
    padding-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-nav__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-nav__item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .portfolio-nav__item:nth-child(3n) {
    margin-right: 0;
  }
  .portfolio-nav__item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 767.98px) {
  .portfolio-nav__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .portfolio-nav__item {
    width: calc(100% - 260px);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
}

.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-align: left;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.portfolio__card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  width: 100%;
  height: 200px;
  background-color: #d3d5dd;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__card {
    height: 400px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__card {
    height: 300px;
  }
}
.portfolio__work {
  padding: 20px 24px;
  background-color: #ffffff;
}
.portfolio__exampl {
  color: #757575;
  font-size: 16px;
  line-height: 1.9;
  text-align: left;
  letter-spacing: 0.03em;
  margin: 0;
}
.portfolio__thumb {
  position: relative;
  overflow: hidden;
}
.portfolio__text {
  width: 322px;
  height: 168px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(210, 20, 67, 0.721);
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover .portfolio__overlay {
  transform: translateY(0);
  opacity: 1;
}

.portfolio__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.reviews {
  padding-bottom: 60px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .reviews {
    max-width: 620px;
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews {
    max-width: 968px;
    padding-bottom: 120px;
  }
}

.slide__photo {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  max-width: 85px;
}

.slide__text-box {
  position: relative;
  padding: 30px;
  border-radius: 30px;
  margin-bottom: 16px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .slide__text-box {
    padding: 20px 20px;
  }
}
@media screen and (min-width: 1200px) {
  .slide__text-box {
    padding: 32px 52px;
  }
}

.slide__text {
  text-shadow: 0px 0px 0px black;
  position: relative;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  text-align: center;
  color: #858585;
  background-color: #ffffff;
  background-image: repeating-linear-gradient(180deg, transparent, transparent 30px, #e1e1e1 0, #e1e1e1 31px);
}
@media screen and (min-width: 768px) {
  .slide__text {
    font-size: 14px;
    line-height: 2.16;
    letter-spacing: 0.04em;
    background-image: repeating-linear-gradient(180deg, transparent, transparent 27px, #e1e1e1 0, #e1e1e1 29px);
  }
}
@media screen and (min-width: 1200px) {
  .slide__text {
    font-size: 16px;
    line-height: 186%;
  }
}

.slide__text::before {
  content: "";
  position: absolute;
  display: block;
  width: 54px;
  height: 40px;
  z-index: -9;
  background-image: url(../images/reviews/symbol.png);
}

.slide__name {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .slide__name {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .slide__name {
    font-size: 20px;
    line-height: 186%;
  }
}

.slide__name::before {
  content: "";
  display: block;
  background-size: 32px 4px;
  margin: 0 auto 16px;
  width: 32px;
  height: 4px;
  background-image: url(../images/reviews/circle.svg);
}

.slick-track {
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.slick-dots {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slick-dots li:not(:last-child) {
  margin-right: 10px;
}
@media screen and (min-width: 768px) {
  .slick-dots li:not(:last-child) {
    margin-right: 18px;
  }
}
.slick-dots button {
  cursor: pointer;
  font-size: 0;
  width: 12px;
  height: 12px;
  background-color: #d9d9d9;
  border-radius: 50%;
  border: none;
}

.slick-dots li.slick-active button {
  cursor: pointer;
  background-color: transparent;
  border-radius: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/reviews/home.svg");
}

footer {
  background-color: #2f303a;
}

.topline_footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}
.footer_text-container {
  width: 234px;
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer_text-container {
    width: 340px;
    padding-top: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .footer_text-container {
    width: 478px;
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

.footer_text {
  margin-top: 0px;
  margin-bottom: 16px;
  font-family: Titan One;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1666666667;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .footer_text {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.1538461538;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .footer_text {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.1333333333;
    letter-spacing: 0.04em;
  }
}

.footer_main-text {
  font-family: Titan One;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.1470588235;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  margin-top: 0px;
  margin-bottom: 0px;
}
@media screen and (min-width: 768px) {
  .footer_main-text {
    font-size: 48px;
    line-height: 1.1458333333;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) {
  .footer_main-text {
    font-size: 58px;
    line-height: 1.1379310345;
    letter-spacing: 0.06em;
  }
}

.footer_social-container {
  padding-bottom: 30px;
  text-align: center;
  padding-top: 30px;
}
@media screen and (min-width: 768px) {
  .footer_social-container {
    padding-top: 40px;
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .footer_social-container {
    padding-top: 60px;
    padding-bottom: 30px;
  }
}

.footer_watermark-container {
  margin: 0 auto;
  width: 280px;
}

.line {
  margin-bottom: 16px;
  width: 100%;
  border-top: 2px solid #e1e1e1;
}
@media screen and (min-width: 768px) {
  .line {
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .line {
    margin-bottom: 7px;
  }
}

.footer_watermark-text {
  display: flex;
  flex-direction: column;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  text-align: center;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .footer_watermark-text {
    line-height: 186%;
    justify-content: space-evenly;
    flex-direction: row;
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .footer_watermark-text {
    line-height: 186%;
    font-size: 14px;
  }
}

.adress__item:not(:last-child) {
  margin-bottom: 9px;
}

.adress__link {
  color: #ffffff;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress__link:hover, .adress__link:focus {
  color: #d41443;
}

.adress__link--post {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress__link--post:hover, .adress__link--post:focus {
  color: #d41443;
}
@media screen and (min-width: 768px) {
  .adress__link--post {
    font-size: 18px;
    line-height: 1.7;
  }
}

.contact-box {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 767px) {
  .contact-box {
    margin-left: auto;
    margin-right: auto;
  }
}
.contact-box__text {
  font-family: Titan One;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-style: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin: 0 0 20px;
}
@media screen and (min-width: 768px) {
  .contact-box__text {
    font-size: 18px;
  }
}

.social-contact {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-contact__icon {
  fill: currentColor;
}
.social-contact__item:not(:last-child) {
  margin-right: 10px;
}

.social-contact__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-contact__link:hover, .social-contact__link:focus {
  color: #ffffff;
  background-color: #d41443;
}

.social-contact__link--footer {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-contact__link--footer:hover, .social-contact__link--footer:focus {
  background-color: #d41443;
}

.anchor {
  display: flex;
  justify-content: flex-end;
}

.anchor-link {
  display: flex;
  position: fixed;
  z-index: 3;
  bottom: 65px;
  right: 40px;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #ffffff;
  text-align: center;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.83;
  background-color: #d41443;
  opacity: 0.3;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.anchor-link:hover, .anchor-link:focus {
  opacity: 1;
}/*# sourceMappingURL=index.css.map */