.text_audio {
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.13;
  color: $bgc-btn-primary;
  text-shadow: 2px 2px 4px $primary-color;

  @include tablet {
    font-size: 26px;
    line-height: 1.13;
  }
}

.name_audio {
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.23;
  color: $bgc-btn-primary;
  text-shadow: 2px 2px 4px $primary-color;
  @include tablet {
    font-size: 30px;
    line-height: 1.13;
  }
  transition: transform 0.2s;
  &:hover {
    transform: scale(1.05);
  }
  &--title {
    font-size: 24px;
    line-height: 1.23;
    @include tablet {
      font-size: 40px;
      line-height: 1.13;
    }
  }
}

.audio_list {
  @extend %list;
  text-indent: 0px;
  padding-bottom: 15px;
}

.audio-trek {
  display: block;
  text-align: centr;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.83;

  //   text-indent: 50px;
  color: $white-color;
  text-shadow: 2px 2px 4px $primary-color;
  //   background-color: $materials-color;

  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 20px;
  margin-bottom: 10px;

  @include tablet {
    font-size: 20px;
    line-height: 1.83;

    // text-indent: 60px;
    padding-left: 60px;
    padding-right: 60px;
    // padding-top: 10px;
    // padding-bottom: 10px;
    margin-top: 40px;
    margin-bottom: 20px;
  }
}

.text-trek-audio {
  text-transform: uppercase;
  @extend %link;
  @include centeredFlex($place: left);
  text-indent: 0px;
  color: $white-color;
  &:hover {
    color: $bgc-btn-primary;
  }
}

.audio_icon {
  transition: transform 0.2s;
  &:hover {
    transform: scale(1.2);
  }
}
.audio_name {
  margin-left: 30px;
  @include tablet {
    margin-left: 50px;
  }
}
.simbol_audio {
  margin-left: auto;
  margin-right: auto;
  width: 180px;
  border-radius: 50%;


  transition: transform 0.2s;

  &:hover {
    transform: scale(1.1);

  }
}

