body {
  font-family: 'Oswald', sans-serif;
  text-shadow: 1px 1px 1px black;
  //   font-family: "Roboto", sans-serif;
  //   font-size: 14px;
  //   line-height: 1.71;
  //   text-decoration: none;
  //   letter-spacing: 0.03em;

  //   user-select: none;
  // background-image: url('../images/stone.jpg');
  background-color: $bgc-footer;
  // color: $primary-text-color;
}
