body {
  font-family: 'Oswald', sans-serif;
  //   font-family: "Roboto", sans-serif;
  //   font-size: 14px;
  //   line-height: 1.71;
  //   text-decoration: none;
  //   letter-spacing: 0.03em;

  //   user-select: none;
  // background-image: url('../images/stone.jpg');
  background-color: $bgc-footer;
  // color: $primary-text-color;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
