.hero__button {
  @extend %link;
  text-transform: uppercase;
  color: $white-color;
  background-color: $bgc-btn-primary;

  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;

  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px $box-shadow-color-one;
  border-radius: 4px;
  border: 0;

  transition: transform 0.2s $function-products;

  &:hover,
  &:focus {
    transform: scale(1.05);
  }
}
