


.name_since {
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.23;
    color: $bgc-btn-primary;
    text-shadow: 2px 2px 4px $primary-color;

    @include tablet {
        font-size: 22px;
        line-height: 1.13;
    }

    transition: transform 0.2s;

    &:hover {
        transform: scale(1.05);
    }

    &--title {
        font-size: 18px;
        line-height: 1.23;

        @include tablet {
            font-size: 26px;
            line-height: 1.13;
        }
    }
}

.name_text {
    // text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.83;
    color: $text-client-color;
    text-shadow: 2px 2px 4px $primary-color;
padding-left: 30px;
    padding-right: 30px;
    @include tablet {
        font-size: 18px;
    line-height: 1.83;
        padding-left: 60px;
            padding-right: 60px;
    }

    transition: transform 0.2s;

    &:hover {
        transform: scale(1.05);
    }

    // &--title {
    //     font-size: 16px;
    //     line-height: 1.23;

    //     @include tablet {
    //         font-size: 28px;
    //         line-height: 1.13;
    //     }
    // }
}


.simbol_since {
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    border-radius: 50%;


    transition: transform 0.2s;

    &:hover {
        transform: scale(1.1);

    }
}

.aboutme-card {
    text-align: justify;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.83;

    text-indent: 30px;
    color: $client-color;
    text-shadow: 2px 2px 4px $primary-color;

    padding-left: 30px;
    padding-right: 30px;

    @include tablet {
        font-size: 20px;
        line-height: 1.83;

        text-indent: 50px;
        padding-left: 60px;
        padding-right: 60px;
    }
         &--span {
             color: $bgc-btn-primary;
         }
         &--litr{text-indent: 0px;}
                  &--img {
                    
                    text-indent: 0;
                    margin-left: auto;
                        margin-right: auto;
                   text-align: center;              
                            }
                                 
                       
}

.since--link {
    @extend %link;
    display: block;
    // text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.23;
    color: $white-color;
    text-shadow: 2px 2px 4px $primary-color;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.2s;

    &:hover {
        transform: scale(1.05);
        color: $bgc-btn-primary;
    }

    @include tablet {
        font-size: 18px;
        line-height: 1.13;
        padding-bottom: 40px;
    }
}

.frame_blc {
    overflow: hidden;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
}

.frame_blc iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}