.nav-topline {
  @media screen and (max-width: 767.99px) {
    &__smart {
      @include centeredFlex($place: space-between);

      position: relative;
    }
  }
  @media screen and (min-width: 768px) {
    @include centeredFlex();
  }
}

.site-nav {
  @extend %list;
  @media screen and (max-width: 767.99px) {
    margin-bottom: 302px;

    &__item:not(:first-child) {
      margin-top: 32px;
    }
  }
  @media screen and (min-width: 768px) {
    @include centeredFlex();

    margin-left: 40px;

    &__item:not(:first-child) {
      margin-left: 30px;
    }
  }
  @media screen and (min-width: 1200px) {
    margin-left: 150px;
    &__item:not(:first-child) {
      margin-left: 50px;
    }
  }
}

.site-nav__link {
  @extend %link;
  // font-family: Titan One;
  display: block;

  color: $bgc-body;

  font-weight: 500;

  text-align: left;
  letter-spacing: 0.02em;

  transition: color 250ms $function-products;

  @media screen and (max-width: 767.99px) {
    font-size: 40px;
    line-height: 1.18;
  }

  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;

    font-size: 14px;
    line-height: 1.17;
  }

  &:hover,
  &:focus {
    color: $bgc-btn-primary;
  }
}

.site-nav__link--current {
  position: relative;

  // color: $bgc-btn-primary;
  // transition: background-color 250ms $function-products;

  @media screen and (min-width: 768px) {
    &::after {
      content: '';
      display: inline-blok;
      position: absolute;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 4px;
      background-color: $white-color;
      border-radius: 2px;
      box-shadow: 4px 4px 12px #d4144483;
    }
  }
}
