.training {
  text-align: justify;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.23;
  color: #ffffff;

  @include tablet {
    font-size: 18px;
    line-height: 1.13;
  }
  &-block {
    @include centeredFlex();
  }

  &__link {
    @extend %link;
  }
  &-list {
    @extend %list;
  }
}
